@font-face{
    font-family: JetBrains;
    src: url('JetBrainsMono.ttf');
}

*{
    font-family: JetBrains;
    text-shadow: .5px .5px .1px white ;
    font-weight: 500;
    color:black;

}
div#navbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
}

body{
    margin: .5vw;
    margin-top: 2em;
    background-color:aliceblue;
}

div.calculator{
    display:grid;
    grid-template:
    'screen2 screen2 screen2 screen2'
    'screen3 screen screen screen'
    'plus minus multiply divide'
    'n1 n2 n3 modulo'
    'n4 n5 n6 equals'
    'n7 n8 n9 equals'
    'n0 point clear equals';
    grid-gap: 1vw;
    justify-items: center;
    align-items: left;
}

button.number, button.operation{
    height: 10vh;
}

input{
    width: 90%;
    border-radius: 1vw;
    box-shadow: .5vw .5vw .25vw darkgray;
    padding-right: .5em;

}
input#operation{
    width: 12.5vw;
    background-color:darkgray;
}
button{
    width: 20vw;
    font-size: 1.5em;
    border-radius: 5vw;
    box-shadow: .75vw .75vw .375vw darkgray;
}
button:hover{
    background-color:black;
    color:white;
    box-shadow: 1vw 1vw .5vw dimgray;
}
.screen{
    grid-area: screen;
    text-align: right;
    font-size: 2em;
}
.screen2{
    grid-area: screen2;
    text-align: right;
    font-size: 2em;
    color:GREEN;
}
.screen3{
    grid-area: screen3;
    text-align: center;
    font-size: 2em;
    color:WHITE;

}
.n1 {grid-area: n1;}
.n2 {grid-area: n2;}
.n3 {grid-area: n3;}
.n4 {grid-area: n4;}
.n5 {grid-area: n5;}
.n6 {grid-area: n6;}
.n7 {grid-area: n7;}
.n8 {grid-area: n8;}
.n9 {grid-area: n9;}
.n0 {grid-area: n0;}

.plus{grid-area: plus;}
.minus{grid-area: minus;}
.modulo{grid-area: modulo;}
.multiply{grid-area: multiply;}
.divide{grid-area: divide;}
.equals{
    grid-area: equals;
    font-size: 3em;
}

.point{grid-area:point;}
.clear{grid-area:clear;}

div#footnote{
    position: fixed;
    bottom:1vh;
    text-align: center;
    width:100%;

    font-size: 1.5vh;


}