@font-face{
    font-family: GothamMedium;
    src: url('GothamMedium.otf');
}

*{
    font-family: GothamMedium;
    color: #393c41;
    text-align: center;
    text-shadow: .5px .25px 1px dimgray ;
    font-weight: 500;
    background-color:#fefefe;
    border-radius: .5em;
}
p{
    padding:1em;
}
/* .col-1 {width: 8.33%;}
.col-2 {width: 16.67;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.67%;} */
.col-6 {
    width: 50%;
    display:flex;
    flex-direction: column;
}
/* .col-7 {width: 58.33%;}
.col-8 {width: 66.67%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.67%;}*/
.col-12 {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
} 
div.content{
    opacity: 90%;
    text-align: justify;
}
.parallax-wrapper{
    height: 50vh;
    background-image: url("./img/bg-1.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity:55%;
}
.parallax-wrapper-2{
    height: 100vh;
    background-image: url("./img/bg-2.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity:55%;
}
.parallax-wrapper-3{
    height: 100vh;
    background-image: url("./img/bg-3.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity:55%;
}
.parallax-wrapper-4{
    height: 100vh;
    background-image: url("./img/bg-4.jpg");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    opacity:55%;
}
.row{
    display: flex;
}

.container{
    justify-items: center;
    display: flex;
    flex-direction: column;
}
img#header-img{
    width: 100%;

}
div#nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    position:fixed;
    padding: .2em;
    top:0;
    left: 0;
    padding:0;
    background-color: white;
    width: 100%;
    opacity: 100%;
    z-index: 100;
}
a{
    text-decoration: none;
}
a.nav-link{
    font-weight: 500;
    color:#393c41;
    width: 30%;
    padding: .5em;
}
a.logo{
    width:15%;
    animation: appear 1.5s forwards;
    animation-play-state: paused;
    padding:1em;
    border-radius: 0;

}
a.nav-link:link{
    text-decoration: none;
}

a.nav-link:hover{
    background:#393c41;
    color:white;
}
textarea{
    text-align:left;
    padding:1em;
    margin:1em;
}
div.list-item{
    pad: .5em;
    margin: 0.5em;
    box-shadow: 1px 1px .5px gray,-1px -1px .5px beige;
}
dd{
    margin:0;
}
div.list-item:hover{
    animation: focus 1.5s infinite;
}
a.nav-link:hover, a.logo:hover{
    animation: appear 1.5s forwards;

}
input#submit{
    margin: .5em;

}
input#name, input#email{
    margin:.25em;
    padding: .5em;
}

@keyframes appear{
    from{opacity:50%;}
    to{opacity: 100%;}
}

@keyframes grow{
    from{width:10%;}
    to{width: 50%;}
}
@keyframes focus{
    0%{box-shadow: 1px 1px .5px gray,-1px -1px .5px beige;z-index: 0;}
    50%{box-shadow: 10px 10px 15px gray,-10px -10px 15px beige;z-index: 500}
    100%{box-shadow: 1px 1px .5px gray,-1px -1px .5px beige;z-index: 0}
}
@media screen and (max-width:640px){
    iframe{
        width:100%;
    }

    a.nav-link{
        margin: 0;
        padding: 0.1em;
        order:1;
    }
    a.logo{
        order:0;
        padding:0.1em;
    }

    a.logo:hover{
        animation: grow 1.5s forwards;
    }
    textarea{
        width:90%;
    }

}
@media screen and (min-width:641px){
    iframe{
        height:900px;
        width:100%;
    }
    a.logo{
        margin-left: 1em;
        position: relative;
        right:1em;
    }
    textarea{
        width:50%;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }

}
#footnote {

    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}