body {
    color:white;
    background-color: black;
    font-family: monospace;
}

.board{
    margin: auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(8, [col] 10vh);
    grid-template-rows: repeat(8, [row] 10vh);
    width: 80vh;
    height: 80vh;
    font-size: 1vh;
    background-color: black;

}

.box{
	font-size: calc(8vh);
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select:none;
    text-shadow: 2px 2px .5px gray;
}

/* .box:nth-child(n+1):nth-child(-n+16){
	color: #222;
} */


.board .box:nth-child(n+1):nth-child(-n+8):nth-child(even),
.board .box:nth-child(n+17):nth-child(-n+25):nth-child(even),
.board .box:nth-child(n+33):nth-child(-n+40):nth-child(even),
.board .box:nth-child(n+49):nth-child(-n+56):nth-child(even),
.board .box:nth-child(n+9):nth-child(-n+16):nth-child(odd),
.board .box:nth-child(n+25):nth-child(-n+32):nth-child(odd),
.board .box:nth-child(n+41):nth-child(-n+48):nth-child(odd),
.board .box:nth-child(n+57):nth-child(-n+64):nth-child(odd){
    background-color: rgba(0,125,0,.5);
} 


.box:hover{
    background-color:  rgba(125,125,025,.2)!important;
    cursor: pointer;
}

div#navbar{
    position: fixed;
    top:0;
    left:0;
    color: black;
    font-size: 1.5vw;
    
}
div#functions{
    position: fixed;
    top:5vw;
    left:0vw;
    color: white;
    font-size: 1.5vw;
    display: block;
}
div#functions div:hover{
    cursor:pointer;
    background:grey;
}
@media screen and (orientation:portrait){
    .board{
        width: 80vw;
        height: 80vw;
        grid-template-columns: repeat(8, [col] 10vw);
        grid-template-rows: repeat(8, [row] 10vw);
    }
    .box{
        font-size: calc(10vw);

    }

    div#functions{
        position: fixed;
        top:85vh;
        left:40vw;
        color: white;
        font-size: 3vh;
    }
}
@media screen and (orientation:landscape){
    .board{
        width: 80vh;
	    height: 80vh;
    }
    .box{
        font-size: calc(10vh);

    }
    div#functions{
        position: fixed;
        top:5vw;
        left:0vw;
        color: white;
        font-size: 1.5vw;
    }
}

div#footnote{
    text-align: center;
    background: none;
    font-size:1.5vh;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.description, [class*="timer"]{
    text-align: center;
    font-size: 3vh;
}

.valid{
    opacity: 70%;
}
@keyframes highlight{
    0%{
        font-size:calc(8vh);
        z-index: 1;
    }
    50%{
        font-size:calc(10vh);
        z-index: 100;
    }
    100%{
        font-size:calc(8vh);
        z-index: 1;
    }
}